.hmpage{
    width: 100%;
    height: 100vh;
    background-color: #003078;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.hmpage h1{
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

.hmpage a{
    all: inherit;
}

.hmoption{
    width: 100%;
    height: 35vh;
    border-radius: 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}